@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Покана за коледно парти</h1>
    <p>
        Заповядайте на нашето коледното парти!Ще се проведе в ресторанта на хотел "Гранд хотел Пловдив" от 19 часа! 
        Моля, попълнете формата с вашите данните, както и дали ще присъствате,за да може да се направи необходимата организация 
    </p>
    <button class="col-3 btn btn-primary m-1"> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RspvForm">Попънете формуляра</a></button>
</div>
